body{
    margin-top: 0px;
    background-image: url(../images/5-dots.png);
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.container-bio{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    color: #000000;
    background: #ffffff;
    border-bottom: 8px solid #848888;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main_bio{
    padding: 20px;
    width: 930px;
    color: #000000;
    background: #ffffff;
    border: 8px solid #848888;
}


.footer{
    border-top: 8px solid #848888;
    padding: 50px;
    background: #ffffff;
}


